{# TODO: create RDF/OWL template just as is the one for JSON #}
<?xml version="1.0"?>
<rdf:RDF xmlns="#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:owl="http://www.w3.org/2002/07/owl#"
     xmlns:xml="http://www.w3.org/XML/1998/namespace"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
     xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
     xmlns:rda-common-dmp="http://www.sysresearch.org/rda-common-dmp#">
    <owl:Ontology>
        <owl:imports rdf:resource="https://github.com/RDA-DMP-Common/RDA-DMP-Common-Standard/blob/master/ontologies/extensions/dcso.extension.2019.10.19.1.0.0.owl"/>
        {# TODO: use the newest version of DSCO #}
    </owl:Ontology>

    <owl:NamedIndividual rdf:about="http://www.sysresearch.org/rda-common-dmp#afs.server">
        <rdf:type rdf:resource="http://www.sysresearch.org/rda-common-dmp#Host"/>
        <hostID rdf:resource="http://www.sysresearch.org/rda-common-dmp#afs.server.id"/>
        <backupFrequency rdf:datatype="http://www.w3.org/2001/XMLSchema#string">{# maDMP.host.backupFrequency (? = path from madmp JSON schema) #}</backupFrequency>
        <backupType rdf:datatype="http://www.w3.org/2001/XMLSchema#string"></backupType>
        <certifiedWith rdf:datatype="http://www.w3.org/2001/XMLSchema#string"></certifiedWith>
        <description rdf:datatype="http://www.w3.org/2001/XMLSchema#string"></description>
        <geoLocation rdf:datatype="http://www.w3.org/2001/XMLSchema#string"></geoLocation>
        <pidSystem rdf:datatype="http://www.w3.org/2001/XMLSchema#string"></pidSystem>
        <supportsVersioning rdf:datatype="http://www.w3.org/2001/XMLSchema#string"></supportsVersioning>
        <title rdf:datatype="http://www.w3.org/2001/XMLSchema#string"></title>
    </owl:NamedIndividual>

    {# ... #}
</rdf:RDF>
